<!DOCTYPE html>
<html>
<head>
	<title>CS1520: Group Project</title>
	<link rel="stylesheet" type="text/css" href="css/gradestyle.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="container">
	<div id="header">
		<h1>Courseweb 2.0</h1>
	</div>
	<div id="navigation">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Classes</a></li>
			<li><a href="#">Calendar</a></li>
			<li><a href="#">Report Problem</a></li>
		</ul>
	</div>
	<div id="content-container">
		<div id="left">
			<h2>Grades</h2>
			<table id="grades">
				<tr>
					<th>Exams</th>
				</tr>
				<tr>
					<td>
						<table id="grades-inner">
							<tr>
								<td class="assig-title">Exam 1</td>
								<td>82</td>
								<td>100</td>
								<td>82%</td>
							</tr>
							<tr>
								<td class="assig-title">Exam 2</td>
								<td>79</td>
								<td>100</td>
								<td>79%</td>
							</tr>
							<tr>
								<td class="assig-title">Exam 3</td>
								<td>95</td>
								<td>100</td>
								<td>95%</td>
							</tr>
							<tr>
								<td class="assig-title">Final</td>
								<td>87</td>
								<td>100</td>
								<td>87%</td>
							</tr>
							<tr class="total">
								<td class="assig-title">Total</td>
								<td>343</td>
								<td>400</td>
								<td>85.75%</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<th>Projects</th>
				</tr>
				<tr>
					<td>
						<table id="grades-inner">
							<tr>
								<td class="assig-title">Project 1</td>
								<td>82</td>
								<td>150</td>
								<td>54.67%</td>
							</tr>
							<tr>
								<td class="assig-title">Project 2</td>
								<td>120</td>
								<td>150</td>
								<td>80%</td>
							</tr>
							<tr>
								<td class="assig-title">Project 3</td>
								<td>98</td>
								<td>150</td>
								<td>65.33%</td>
							</tr>
							<tr>
								<td class="assig-title">Project 4</td>
								<td>138</td>
								<td>150</td>
								<td>92%</td>
							</tr>
							<tr class="total">
								<td class="assig-title">Total</td>
								<td>438</td>
								<td>600</td>
								<td>73%</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<th>Homeworks</th>
				</tr>
				<tr>
					<td>
						<table id="grades-inner">
							<tr>
								<td class="assig-title">Homework: Ch 1</td>
								<td>8</td>
								<td>10</td>
								<td>80%</td>
							</tr>
							<tr>
								<td class="assig-title">Homework: Ch 2</td>
								<td>7</td>
								<td>10</td>
								<td>70%</td>
							</tr>
							<tr>
								<td class="assig-title">Homework: Ch 3</td>
								<td>9</td>
								<td>10</td>
								<td>90%</td>
							</tr>
							<tr>
								<td class="assig-title">Homework: Ch 4</td>
								<td>8</td>
								<td>10</td>
								<td>80%</td>
							</tr>
							<tr>
								<td class="assig-title">Homework: Ch 5</td>
								<td>8</td>
								<td>10</td>
								<td>80%</td>
							</tr>
							<tr>
								<td class="assig-title">Homework: Ch 6</td>
								<td>9.5</td>
								<td>10</td>
								<td>95%</td>
							</tr>
							<tr>
								<td class="assig-title">Homework: Ch 7</td>
								<td>8</td>
								<td>10</td>
								<td>80%</td>
							</tr>
							<tr>
								<td class="assig-title">Homework: Ch 8</td>
								<td>9</td>
								<td>10</td>
								<td>90%</td>
							</tr>
							<tr>
								<td class="assig-title">Homework: Ch 9</td>
								<td>9</td>
								<td>10</td>
								<td>90%</td>
							</tr>
							<tr>
								<td class="assig-title">Homework: Ch 10</td>
								<td>7.5</td>
								<td>10</td>
								<td>75%</td>
							</tr>
							<tr class="total">
								<td class="assig-title">Total</td>
								<td>83</td>
								<td>100</td>
								<td>83%</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<div id="right">
			<h3>CS1520:<br>Programming Languages for Web Applications</h3>
			<div id="right-navigation">
				<ul>
					<li><a href="#">Professor Info</a></li>
					<li><a href="#">TA Info</a></li>
					<li><a href="#">Syllabus</a></li>
					<li><a href="#">Assignments</a></li>
					<li><a href="#">Grades</a></li>
				</ul>
			</div>
		</div>
		<div id="footer">
			Copyright &copy; Courseweb 2.0, 2014
		</div>
	</div>
</div>
</body>
</html>