{% extends "base.html" %}
{% block head %}
	<title>CS1520: Group Project</title>
	<link rel="stylesheet" type="text/css" href="css/userpage.css">
	<script type="text/javascript" src="js/userpage.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Kalam|Roboto+Slab' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery-1.11.1.js"></script>
	<script type="text/javascript" src="js/modal.js"></script>
	<link rel="stylesheet" type="text/css" href="css/modal.css">
{% endblock %}

{% block maincontent %}
	<div id="content-container">
		<div class="center">
			<h3>Report a Problem</h3>
			<div class="center-content">
				Thank you for submitting your problem<br>
				We will look into it as soon as we get the chance.
			</div>
		</div>
	</div>
{% endblock %}