<!DOCTYPE html>
<html>
<head>
	<title>CS1520: Group Project</title>
	<link rel="stylesheet" type="text/css" href="css/pagestyle.css">
	<link href='http://fonts.googleapis.com/css?family=Kalam|Roboto+Slab' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="container">
	<div id="header">
		<h1>Whiteboard</h1>
		<a href="">gac30@pitt.edu</a> | 
		<a href="">Log Out</a>
	</div>
	<div id="navigation">
		<ul>
			<li class="top-item"><a href="">Home</a></li>
			<li class="top-item">
				<a href="">Courses</a>
				<ul>
					<li><a href="">CS 1520</a></li>
					<li><a href="">CS 1550</a></li>
					<li><a href="">CS 1652</a></li>
					<li><a href="">COE 1541</a></li>
				</ul>
			</li>
			<li class="top-item"><a href="">Account Info</a></li>
			<li class="top-item"><a href="">Report Problem</a></li>
		</ul>
	</div>
	<div id="content-container">
		<div id="left">
			<h3>Courses</h3>
			<div id="left-content">
				<p>Here are your courses</p>
			</div>
		</div>
		<div id="right">
			
		</div>
		<div id="footer">
			Whiteboard &copy; 2014
		</div>
	</div>
</div>
</body>
</html>